body{

 
  background: url(background.jpg);
}


#clima{
  width: 400px;
  height: 350px;
  border: 2px solid black;
  

}

#recomendacoes{
 
  height: 350px;
  border: 2px solid black;
  
}
#labelCidade{
  padding-top: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#icone{
  width: 175px;
  height: 167px;
  display: inline-block;
  background-color: white;
}

#temp{
  width: 175px;
  height: 167px;
  display: inline-block;
  background-color: white;
  float: right;
}

#min{

 
  width: 74px;
  height: 85px;
  display: inline-block;
 background-color: white;
 text-align: center;
 
 
 
}

#max{
  width: 74px;
  height: 85px;
  display: inline-block;
  float:right;
  background-color: white;
  text-align: center;
}
