#cabecalho{
    background-color: rgb(1, 101, 170);
    height: 100px;

  }
  #logo{
    margin-left: -30px;
    margin-top: -5px;
    height: 120px;
    width: 160px;
    
  }

  #textcabecalho{

    margin-top: 79px;
    padding-right: 0px;
    margin-left: 0px;
    left: 63px;
    color: rgba(245, 245, 245,0.5)
    

  }


  
.form-inline{

  align-items: right;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: -108px;
}

#agrupa{
  margin-top: 4px;
  height: 550px;
  background-color: rgba(219, 219, 219, 0.9);

}

#infoclima{

  height: 200px;

  background-color: rgba(186, 215, 255, 1);
  border: 2px solid black;
  

}

#cid{

height: 30px;
background-color:red;
}