#cabecalho{
    background-color: rgb(1, 101, 170);
    height: 100px;

  }
  #logo{
    margin-left: -30px;
    margin-top: -5px;
    height: 115px;
    width: 160px;
    
  }

  #formulario{
   padding-left: 75px;
  }

  #textcabecalho{

    padding-top: 76px;
    text-align: right;
    color: rgba(245, 245, 245,0.5)
    

  }


#agrupa{
  
  margin-top: 4px;
  height: 550px;
  background-color: rgba(219, 219, 219, 0.9);

}

#clima{
  width: 400px;
  height: 350px;
  border: 2px solid black;
  

}

#recomendacoes{
 
  height: 350px;
  border: 2px solid black;
  
}


.formulario:hover{

  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
} 

.formulario:hover:hover{

  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}